fieldset {
    background-color: transparent;
 padding: 10px;
     margin: 10px;
     border: 2px solid;
     color: rgb(0, 78, 0);
     box-shadow: inset;
     backdrop-filter: blur(2px);
     background-color: rgba(255, 255, 255, 0.5);
     border-radius: 15px;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
     padding: 20px;
     }
     label {
     padding: 3px;
     margin: 3px;
     color: green;
    display: inline-block;
  width: 100px;
     text-align: right;
 }
    input {
     margin-bottom: 20px;
     display: inline-block;
     }
     .error {
     color: red;
    font-size: 0.9em;
    margin-left: 5px;
     }
     body {
    display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
  height: 100vh;
     background-image: url('Login.jpg');
 }
     button {
    display: block;
    padding: 5px;
    background-color: rgb(248, 157, 38);
     color: white;
    border: 0;
     border-radius: 50px;
    display: center;
    margin: 0 auto;
     width: 50%;
     text-decoration: none;
 }
     button:hover {
     background-color: green;
    }
 h1 {
    color: green;
    text-align: center;
     }
     h2 {
     color: rgb(192, 110, 3);
     }
    form {
    display: flex;
    flex-direction: column;
    align-items: center;
     }